header{
    text-align: center;
}
nav>ul{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav>ul>li{
    float: left;
}
nav>ul>li>a{
    display: block;
    padding: 8px;
}
#wrapper{
    width: 75%;
    margin: auto;
}
figure{
    float: right;
    width: 20%;
}
figure>img{
    width: 100%;
}
.distro-img{
    max-width: 20%;
    float: right;
}
article{
    width: 66%;
    float: left;
}
footer{
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}